@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* scrollreveal*/
.scrollreveal {
  visibility: hidden;
}

/* navbar */
#nav-bar li.active a {
  background-image: linear-gradient(transparent 90%, rgba(1, 248, 75, 0.6) 10%);
}

header {
  position: absolute;
  position: fixed;
  padding: 1em;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2em);
  background: transparent;
}
header a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px rgba(3, 122, 39, 0.3);
  transition: 1s;
}
header a:hover {
  background-image: linear-gradient(transparent 90%, rgba(1, 248, 75, 0.6) 10%);
}
header a.logo {
  font-weight: bold;
  text-transform: uppercase;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}
header nav ul li a {
  padding: 1em;
}

.arrowBounce {
  animation: bounce 2s infinite;
  font-size: 22px;
  position: relative;
  top: 90vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 26px;
  width: 18px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-15px);
  }
}
h1, h2, h3, p {
  margin: 0 1em 0 2rem;
  color: white;
}

.bg-color {
  background-image: linear-gradient(transparent 40%, rgba(1, 248, 75, 0.6) 60%);
  text-align: center;
}

.section h1, .section h3 {
  text-align: center;
  font-size: 2.5em;
  text-shadow: 2px 2px 2px rgba(3, 122, 39, 0.5);
}
.section h3 {
  padding-top: 1rem;
  font-size: 2em;
}

.home {
  background: url(/img/2.jpg);
  background-size: cover;
  background-position: center center;
}
.home h1 {
  padding-top: 20%;
}
@media screen and (max-width: 600px) {
  .home h1 {
    font-size: 1.8em;
    padding-top: 40%;
  }
}

.work {
  background: linear-gradient(135deg, #2c3e50, #bdc3c7);
}
.work .fp-controlArrow {
  margin: 0 1rem 0 1rem;
}
.work h2 {
  z-index: 100;
  padding: 10%;
}
.work .fp-slides {
  z-index: 2;
}
.work [data-anchor=slide1] {
  background: url(/img/4.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}
.work [data-anchor=slide2] {
  background: url(/img/6.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}
.work [data-anchor=slide3] {
  background: url(/img/7.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}
.work [data-anchor=slide4] {
  background: url(/img/8.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.bg-text {
  background: linear-gradient(to top, #037a27 100%, transparent 90%, transparent);
}

.about {
  background: url(/img/12.jpg);
  background-size: cover;
  background-position: center center;
}
.about h2 {
  padding-bottom: 5%;
  font-size: 2rem;
}
.about p {
  line-height: 1.7;
  font-size: 1.1rem;
}
.about button {
  margin: 1em 1em 0 1em;
  padding: 0.6em;
  border: 1px solid white;
  border-radius: 35px;
  color: #037a27;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.7s;
}
.about button:hover {
  background: #037a27;
  color: white;
}

.contact {
  background: url(/img/5.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.contact h2 {
  padding-bottom: 5%;
}
.contact svg {
  width: 64px;
  fill: white;
  transition: 0.3s;
  margin: 2em 0 2em 2em;
  transition: all 0.3s ease-in-out;
}
.contact svg:hover {
  fill: #10A43C;
  transform: scale(1.2);
}
.contact p {
  margin-top: 2em;
}
.contact .mailto {
  text-decoration: none;
  background-color: #037a27;
  color: white;
  font-size: 1.2rem;
}
.contact .mailto:hover {
  color: #037a27;
  background-color: white;
  cursor: pointer;
  text-decoration: underline;
}
.contact footer {
  color: white;
  text-align: left;
  padding: 1em 0.5em 0.5em 1em;
  position: absolute;
  left: 0;
  bottom: 0;
}
.contact footer a {
  text-decoration: none;
  background-color: #037a27;
  color: white;
}
.contact footer a:hover {
  color: #037a27;
  background-color: white;
  cursor: pointer;
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
